/** Import Bootstrap functions */
@import "bootstrap/scss/functions";

/** Import theme variables */
@import "common/variables";

/** Import Bootstrap */
@import "bootstrap/scss/bootstrap";

/** Import highlight.js */
// @import "highlight.js/scss/github-dark-dimmed";

/** Import KaTeX */
@import "katex/dist/katex";

/** Import theme styles */
@import "common/fonts";
@import "common/global";
@import "common/dark";
@import "components/alerts";
@import "components/buttons";
@import "components/code";
@import "components/details";
@import "components/syntax";
@import "components/comments";
@import "components/forms";
@import "components/images";
@import "components/mermaid";
@import "components/search";
@import "components/tables";
@import "layouts/footer";
@import "layouts/header";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/sidebar";

/** Import custom styles */
@import "common/custom";

.header-bar {
       border-top: 4px solid;
       border-image-source: none;
       color: brown;
       border-image-slice: 1;
     }
     
     .offcanvas .header-bar {
       margin-bottom: -4px;
     }

//      // スタートボタン
//      .btn-primary {
//        color: yellow;
//        background-color: brown;
//        border-color: white;

//      }

//      // スタートボタンホバー
//      .btn-primary:hover{
//        color: yellow;
//        background-color: brown;
//        border-color: yellow;
//      }

//      // スタートボタン押下
//      .btn-primary:focus{
//        background-color:black;
//        color: yellow;
//        border-color: yellow;
// }

// AppBar
.navbar {
       background-color:brown;
}

// メインブランド名
.navbar-light .navbar-brand {
       color:yellow;
}

// 選択されていない
.offcanvas .nav-link {
       color:white;
}

// 選択中
.offcanvas .nav-link.active {
       color:yellow;
}

// ダークモード切り替えボタン ホバー
.navbar .btn-link:hover {
       color: white;
   }

   // ダークモード切り替えボタン
.navbar .btn-link {
       color: white;
   }

   // サイドメニュー
.offcanvas-body {
       background-color: brown;
       }